<p id="notice"><%= notice %></p>

<h1>Food Risks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_risks.each do |food_risk| %>
      <tr>
        <td><%= food_risk.name %></td>
        <td><%= food_risk.url %></td>
        <td><%= link_to 'Show', food_risk %></td>
        <td><%= link_to 'Edit', edit_food_risk_path(food_risk) %></td>
        <td><%= link_to 'Destroy', food_risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food Risk', new_food_risk_path %>
