<%= form_for(food) do |f| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :info %>
    <%= f.text_area :info %>
  </div>

  <div class="field">
    <%= f.label :info_en %>
    <%= f.text_area :info_en %>
  </div>

  <div class="field">
    <%= f.label :food_category_id %>
    <%= select(
      "food",
      "food_category_id",
      FoodCategory.all.collect { |p| [ p.name, p.id ] })
    %>
  </div>

  <div class="field">
    <%= f.label :food_risk_id %>
    <%= select(
      "food",
      "food_risk_id",
      FoodRisk.all.collect { |p| [ p.name, p.id ] },
      { include_blank: "None" })
    %>
  </div>

  <div class="field">
    <%= f.label :danger %>
    <%= select(
      "food",
      "danger",
      [["None", "empty"], ["Care", "care"], ["Avoid", "avoid"]])
    %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
