<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Food category:</strong>
  <%= link_to @food.food_category.name, @food.food_category %>
</p>

<p>
  <strong>Info:</strong>
  <%= @food.info %>
</p>

<p>
  <strong>Risk:</strong>
  <%= @food.risk %>
</p>

<p>
  <strong>Danger:</strong>
  <%= @food.danger %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
